In [ ]:
# Midterm code

In [2]:
import pandas as pd 
import numpy as np

# Part 1

## 1.0 Getting the data

In [97]:
ADM = pd.read_csv("66851139/data/ADM.csv")
AMD = pd.read_csv("66851139/data/AMD.csv")
HSY = pd.read_csv("66851139/data/HSY.csv")
RE = pd.read_csv("66851139/data/RE.csv")

In [98]:
ADM.head(3)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,40.020000,39.700001,39.930000,39.740002,2524200.0,34.417995
1,2017-11-14,40.660000,39.700001,39.720001,39.790001,4733100.0,34.461292
2,2017-11-15,39.799999,38.590000,39.259998,38.959999,3783200.0,34.016014

In [21]:
vars = {"ADM": ADM, "AMD": AMD, "HSY": HSY, "RE": RE, }
tickers = ["ADM","AMD","HSY","RE"]

In [36]:
for ticker in tickers: 
    print(vars[ticker].head(1))

         Date   High        Low   Open      Close     Volume  Adj Close
0  2017-11-13  40.02  39.700001  39.93  39.740002  2524200.0  34.417995
         Date  High    Low   Open  Close    Volume  Adj Close
0  2017-11-13  11.2  10.92  11.18  11.09  54068300      11.09
         Date        High         Low        Open   Close    Volume  Adj Close
0  2017-11-13  109.550003  108.050003  108.769997  108.18  939900.0  97.692398
         Date        High         Low        Open       Close    Volume  \
0  2017-11-13  231.210007  228.130005  230.660004  228.550003  410500.0

    Adj Close
0  205.921494

## 1.1

In [35]:
for ticker in tickers: 
    print("Unique values for " + str(ticker) + ": " + str(np.unique(vars[ticker]["Close"]==vars[ticker]["Adj Close"])))

Unique values for ADM: [False  True]
Unique values for AMD: [ True]
Unique values for HSY: [False  True]
Unique values for RE: [False  True]

In [34]:
#print(np.unique(ADM["Close"] == ADM["Adj Close"]))
#print(np.unique(AMD["Close"] == AMD["Adj Close"]))
#print(np.unique(HSY["Close"] == HSY["Adj Close"]))
#print(np.unique(RE["Close"] == RE["Adj Close"]))

We can see that in the case of the company $HSY$, close=adj. close in the whole time period. 

$TODO$ Adjustment

## 1.2

In [52]:
for ticker in tickers: 
    print(str(ticker) + ": maximum: " + str(np.round(np.max(vars[ticker]["Adj Close"]),2)) + 
          ", minimum: " + str(np.round(np.min(vars[ticker]["Adj Close"]), 2)))

ADM: maximum: 97.53, minimum: 27.5
AMD: maximum: 161.91, minimum: 9.53
HSY: maximum: 239.96, minimum: 81.89
RE: maximum: 333.16, minimum: 154.6

## 1.3

In [83]:
for ticker in tickers: 
    vars[ticker]["Log return"] = np.append(None, np.diff(np.log(vars[ticker]["Adj Close"]))) 
    print(str(ticker) + ": maximum: " + str(np.round(np.max(vars[ticker]["Log return"]),4)) + 
          ", minimum: " + str(np.round(np.min(vars[ticker]["Log return"]), 4)) + 
          ", mean: " + str(np.round(np.mean(vars[ticker]["Log return"]), 4)) #+ 
 #          ", median: " + str(np.round(np.median(vars[ticker]["Log return"]), 4)) 
          # np.median() does not work with None present and putting there a 0 instead would affect the other results # TODO 
         )

ADM: maximum: 0.0978, minimum: -0.1061, mean: 0.0008
AMD: maximum: 0.1819, minimum: -0.1678, mean: 0.0015
HSY: maximum: 0.0995, minimum: -0.1807, mean: 0.0006
RE: maximum: 0.1109, minimum: -0.1544, mean: 0.0003

## 1.4

In [107]:
for ticker in tickers: 
    maxid = np.argmax(vars[ticker]["Log return"].loc[1:]) 
    
    print("Maximum return of " + str(ticker) + " was reached at number " + str(maxid) + 
         " which is the date " + str(vars[ticker]["Date"].loc[maxid]) + " with value of " + 
          str(np.round(vars[ticker]["Log return"].loc[maxid], 3))
         )

Maximum return of ADM was reached at number 591 which is the date 2020-03-23 with value of -0.043
Maximum return of AMD was reached at number 302 which is the date 2019-01-29 with value of -0.047
Maximum return of HSY was reached at number 586 which is the date 2020-03-16 with value of -0.105
Maximum return of RE was reached at number 593 which is the date 2020-03-25 with value of -0.06

This is inconsistent with the previous task so there must be a mistake in at least one of them. $TODO$